@import "tailwindcss";

@theme {
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --font-sans: var(--font-poppins), ui-sans-serif, system-ui, sans-serif;
  --font-serif: var(--font-playfair), ui-serif, Georgia, serif;
}

:root {
  --background: 0 0% 100%;
  --foreground: 225 7% 25%;
  /* #3B3D44 */

  --card: 0 0% 100%;
  --card-foreground: 225 7% 25%;

  --popover: 0 0% 100%;
  --popover-foreground: 225 7% 25%;

  --primary: 0 51% 75%;
  /* #DF9D9D Dusty Rose */
  --primary-foreground: 0 0% 100%;

  --secondary: 344 19% 57%;
  /* #A67C87 Mauve */
  --secondary-foreground: 0 0% 100%;

  --muted: 0 63% 93%;
  /* #F8E1E1 Pale Pink */
  --muted-foreground: 344 19% 57%;

  --accent: 0 63% 93%;
  --accent-foreground: 225 7% 25%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;

  --border: 0 51% 90%;
  --input: 0 51% 90%;
  --ring: 0 51% 75%;

  --radius: 0.7rem;
  /* 11px */
}

.dark {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;

  --card: 240 10% 3.9%;
  --card-foreground: 0 0% 98%;

  --popover: 240 10% 3.9%;
  --popover-foreground: 0 0% 98%;

  --primary: 0 0% 98%;
  --primary-foreground: 240 5.9% 10%;

  --secondary: 240 3.7% 15.9%;
  --secondary-foreground: 0 0% 98%;

  --muted: 240 3.7% 15.9%;
  --muted-foreground: 240 5% 64.9%;

  --accent: 240 3.7% 15.9%;
  --accent-foreground: 0 0% 98%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;

  --border: 240 3.7% 15.9%;
  --input: 240 3.7% 15.9%;
  --ring: 240 4.9% 83.9%;
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased;
  }
}